<ion-grid>
    <ion-row align-self-start>
      <ion-col>
        <img class="icon-water" src="assets/img/com-agua.svg" />
      </ion-col>

      <ion-col>
        <img class="icon-water" src="assets/img/com-agua.svg" />
      </ion-col>
      <ion-col>
        <img class="icon-water" src="assets/img/sem-agua.svg" />
      </ion-col>
      <ion-col>
        <img class="icon-water" src="assets/img/sem-agua.svg" />
      </ion-col>
      <ion-col>
        <img class="icon-water" src="assets/img/sem-agua.svg" />
      </ion-col>
    </ion-row>
  </ion-grid>